.page {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.title {
}
